@define-mixin media-query-desktop {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}
@define-mixin heading-style {
  font-family: var(--font-family-bold);
  font-size: 40px;
  line-height: 1;
  color: var(--dark-slate-grey);
  @mixin media-query-desktop {
    font-size: 56px;
  }
}
